* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}

body {
  background: rgb(7, 186, 237);
  background: linear-gradient(
    90deg,
    rgba(7, 186, 237, 1) 0%,
    rgba(32, 170, 198, 1) 0%,
    rgba(61, 100, 154, 1) 48%,
    rgba(5, 41, 64, 1) 100%
  );
}

.site_logo {
  display: inline-block;
  width: 60px;
  height: 60px;
}

.site_logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-left: 30px;
}

.navbar {
  width: 90%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  margin: 0 10px;
  margin-top: 10px;
}

.navbar ul {
  display: inline-block;
  /* margin: 0 2px; */
  position: relative;
}

.navbar ul a {
  text-transform: uppercase;
  margin: 0 15px;
}
ul > a{
  padding: 10px;
  background-color: rgba(160, 158, 158, 0.082);
  border-radius: 4px;
  border: 1px solid white;
  display: inline-block;
  transition: 0.5s;
}
ul > a:hover {
  transform: rotate(10deg);
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.content h2{
    font-size: 50px;
    margin-top: 50px;
}
.content p{
    margin: 18px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid rgb(43, 117, 219) 48%;
    background: transparent;
    cursor: pointer;
    overflow: hidden;
}
button:hover::after{
    background-color: aqua;
}